

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #240d52;
}
.form-control{
    float: none;
    margin: auto;
}

#btn2{
    margin-left:10%
}


@media (min-width: 0) and (max-width: 820px) {
#col1{
    display: none;
}
#btn2{
    margin-left:30%;

}
}